html {
    height: 100%;
}
body {
    width: 100%;
    background-image: linear-gradient(to bottom right, rgb(186, 187, 150),rgb(132, 138, 108)) ;
    background-repeat: no-repeat;
            background-attachment: fixed;
}