html {
    height: 100%;
}
body {
    width: 100%;
    background-image: linear-gradient(to bottom right, rgb(159, 15, 255),rgb(145, 68, 68)) ;
    background-repeat: no-repeat;
            background-attachment: fixed;
}