@import url(https://fonts.googleapis.com/css?family=poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}
body{
    place-items: center;
    min-height: 100vh;
    background-color:rgb(255, 189, 255);
}
button{ 
    background-color: white;
    border: none;
    font-size: 1.1rem;
    border-radius: .5rem;
    cursor: pointer;
    width: 200px;
    height: 45px;
    overflow: hidden;
    position: relative;
    outline: none;
}
i{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
span {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    transform: translate(-50%,-50%);
    transition: 500ms ease-in-out transform;
}
.added-to-cart {
    transform: translate(-50%, -200%);
    transition-delay: 1800ms;
}
.fa-shopping-cart {
    transform: translate(-800%, -50%);
    animation-delay: 200ms;
}
.fa-shopping-bag {
    transform: translate(-50%, -400%);
    font-size: .5rem;
}
/*we willl add this class to add to cart span element with JS*/
.add-to-cart-animation{
    transform: translate(-50%, -50%) scale(0);
}
/*we will add this class to added to cart span element with JS*/
.added-to-cart-animation{
    transform: translate(-50%, -50%);
}
@keyframes cart {
    0% {transform: translate(-800%, -50%); }
    30% {transform: translate(-50%, -50%); }
    70% {transform: translate(-50%, -50%); }
    100% {transform: translate(105px, -50%); }
}
@keyframes bag {
    0% {
        transform: translate(-50%, -400%); 
        opacity: 1;
    }
    20% {
        transform: translate(-50%, -90%); 
        opacity: 1;
    }
    50% {
        transform: translate(-50%, -90%); 
        opacity: 0;
    }
    100% {
        transform: translate(-50%, -90%); 
        opacity: 0;
    }
    
}